# LangSmith
LANGCHAIN_API_KEY=your_langsmith_api_key

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# Telegram
BOT_TOKEN=your_telegram_bot_token
CHAT_ID=your_telegram_chat_idw